// Import core styles
@import '../../node_modules/@tweakpane/core/lib/sass/plugin';

// Additional style for the plugin
.#{$prefix}-vyv {
	// Extend a general input view style
	// @extend %input;

	display: flex;
	align-items: center;
	overflow: hidden;

	// You can use CSS variables for styling. See declarations for details:
	// ../../node_modules/@tweakpane/core/lib/sass/common/_defs.scss
	background-color: var(--bs-bg);
	color: var(--lbl-fg);

	&.#{$prefix}-v-disabled {
		opacity: 0.5;
	}

	&_label-image {
		position: relative;
	}
	&_input-image {
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
	}

	&_label-video {
		position: relative;
		cursor: pointer;
	}
	&_input-video {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
	}

	&_container-checkbox {
		display: flex;
	}
	&_label-checkbox {
	}
	&_input-checkbox {
	}

	&_button-clear {
		cursor: pointer;
	}

	input::-webkit-file-upload-button {
		display: none;
	}
}
